body {
 background: url(images/hand.png) repeat-y, 
             rgba(221, 250, 142, 0.534) url(images/bg-right.png) repeat-y 100% 0;
}

a {
    padding: 2px; /* Поля вокруг текста ссылки */
    text-decoration: none; /* Убираем подчёркивание */
    
    color: rgb(16, 116, 30); /* Новый цвет текста */
    font-size: 30px; /* Размер шрифта */
    font-weight: bold; 
}

h2 {
    color:black;
    font-size: 18px;
    font-weight: 400;
}

.product_description {
    color:rgb(67, 75, 68);
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.product_description:hover{
    color:rgb(67, 75, 68);
}

.product_description_big {
    
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    
}

.product_description_big:hover{
    color: #484343;
}

ul {
    list-style-image: url(pics/plus.png);
    font-family: cursive;
    font-size: 20px;
}

input {
    border-radius: 5px;
    height: 35px;
    width: 200px;
    color: black;
    font-family: cursive;
    font-size: 18px;
}

textarea {
    border-radius: 5px;
    font-family: cursive;
    font-size: 18px;
}

.product_img {
        float: right; /* Выравнивание по правому краю */
        border: solid #333; /* Параметры рамки */
        
        
       
    }

a:hover{
    color: rgb(255, 1, 1);
}

input[id="email"]:focus {
	color: #002e03;
	background-color: #caffcc;
}

input[id="theme"],input[id="name"],input[id="text"],textarea {
	text-transform: capitalize;
}
table,
td,
th {
	border: 1px solid rgb(15, 15, 15);
}
table {
	border-collapse: collapse;
}

.product_img:hover{
    border: none;
    margin: 3px;
}

p:first-letter {
	color: #03c03c;
	font-size: 26px;
}
thead tr{
	height: 50px;
}